name: Polls-API CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - namey: Checkout code
        uses: actions/checkout@v4
