#session 4
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t polls-api:latest .

      - name: Run container
        run: |
          docker run -d -p 5000:5000 --name polls-api-test polls-api:latest
          sleep 5
          curl <http://localhost:5000/api/health> || exit 1
